body {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

p {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
}

.polish_indent {
    text-indent: 1em;
}

.double_indent {
    text-indent: 2em
}

.center{
    text-align: center;
}

.bold {
    font-weight: bold
}

.italic {
    font-style: italic
}

.author {
    font-size: 1.29167em;
    margin-bottom: 4em;
}

.title {
    font-size: 1.83333em;
}
